{{>header.hbs title=note.title}}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/notes">Notes</a></li>
    <li class="active">{{note.title}}</li>
    <li><a href="/n/{{note.tag}}/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
</ol>
<div class="page-header">
    <h1>{{note.title}}</h1>
{{#if note.labels}}
    <div class="text-lowercase">
        <span class="glyphicon glyphicon-tag"></span>
        {{#each note.labels}}<span class="label"><a href="/l/{{slug}}">{{slug}}</a></span> {{/each}}
    </div>
{{/if}}
</div>
<div>{{markdown note.body}}</div>
{{>footer.hbs}} 