<nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between' style='min-height: 60px'>
    {{#if campaign}}
    <div class='navbar-brand'>
        <a href='{{config.publicURL}}'><i class='fa fa-home'></i></a>
        <a href='{{campaignURL}}'>{{campaign.title}}</a>
    </div>
    {{else}}
    <div class='navbar-brand'><a href='{{config.publicURL}}'><i class='fa fa-home'></i> Campaign Manager</a></div>
    {{/if}}

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar-links' aria-controls='navbar-links' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbar-links'>
        <ul class='navbar-nav mr-lg-auto'>
            {{#if campaign}}
            <li class='nav-item'><a class='nav-link disabled' href='#'>Adventures</a></li>
            <li class='nav-item'><a class='nav-link' href='{{campaignURL}}wiki'>Wiki</a></li>
            <li class='nav-item'><a class='nav-link' href='{{campaignURL}}tags'>Tags</a></li>
            <li class='nav-item'><a class='nav-link' href='{{campaignURL}}maps'>Maps</a></li>
            <li class='nav-item'><a class='nav-link' href='{{campaignURL}}chars'>Characters</a></li>
            <li class='nav-item'><a class='nav-link disabled' href='#'>Timeline</a></li>
            <li class='nav-item'><a class='nav-link' href='{{campaignURL}}files'>Files</a></li>
            <li class='nav-item dropdown'>
                <a class='nav-link' href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='fa fa-cog'></i></a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='{{campaignURL}}settings'>Settings</a>
                    <a class='dropdown-item' href='{{campaignURL}}membership'>Members</a>
                </div>
            </li>
            {{else}}
            <div class='nav-link'><a href='{{config.publicURL}}campaigns'>Campaigns</a></div>
            {{/if}}
        </ul>

        <form class='input-group mr-sm-2' action='/search' method='get'>
            <input class='form-control' type='search' name='q' placeholder='Search' aria-label='Search'/>
            <span class='input-group-append'>
                <button class='btn btn-outline-primary my-2 my-sm-0' type='submit'>
                    <span class='fa fa-search'></span>
                </button>
            </span>
        </form>

        {{#if profile}}
        <div class='btn-group' role='group'>
            <button class='btn btn-secondary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <span>{{profile.nickname}}</span>
                {{#if profile.photoURL}}
                <img style='width: 24px; height: 24px' src='{{profile.photoURL}}'/>
                {{else}}
                <i class='navigation-bar-profile-photo fa fa-user-circle-o'></i>
                {{/if}}
            </button>
            <div class='dropdown-menu'>
                <a class='dropdown-item' href='{{config.publicURL}}campaigns'>Campaigns</a>
                <a class='dropdown-item' href='{{config.publicURL}}profile'>Profile</a>
                <a class='dropdown-item' href='#' id='nav-logout-btn'>Logout</a>
            </div>
        </div>
        {{else}}
        <button class='btn btn-signin-google p-0 m-0' id='nav-login-btn'>
            <img src='{{config.publicURL}}images/google-signin/normal.png' alt='Sign-in (Google+)'/>
        </button>
        {{/if}}
    </div>
</nav>

<script defer>
    $(() => {
        $('#nav-login-btn').click(e => {api.login.showLoginDialog().then(() => window.location.reload(true)); return false})
        $('#nav-logout-btn').click(e => {api.login.endSession().then(() => window.location.reload(true)); return false})
    })
</script>