{{>layouts/page title=page.title}}

{{#*inline "page_header"}}
{{/inline}}

{{#*inline "content"}}
<div id='page-editor'></div>
<script defer>
    ReactDOM.render(React.createElement(WikiPageEditor, {
        title: '{{page.title}}',
        tags: '{{page.labels}}',
        visibility: '{{page.visibility}}',
        {{#if page.slug}}slug: '{{page.slug}}',{{/if}}
        {{#if page.rawbody}}body: {{{page.rawbody}}}{{else}}body: null{{/if}}
    }, null), document.getElementById('page-editor'))
</script>
{{/inline}}
