{{#>layouts/essential title=title}}

{{#*inline "body"}}
<div id='react-content'>{{{content}}}</div>
<script>
    const config = {publicURL: new URL('{{config.publicURL}}'), apiURL: new URL('{{config.apiURL}}')}
    const profile = {{#if profile}}{id: {{profile.id}}, email: '{{profile.email}}', nickname: '{{profile.nickname}}', photoURL: new URL('{{{profile.photoURL}}}')}{{else}}undefined{{/if}}
    const campaign = {{#if campaign}}{id: {{campaign.id}}, slug: '{{campaign.slug}}', title: '{{campaign.title}}', url: new URL('{{{campaign.url}}}')}{{else}}undefined{{/if}}
    const api = new ClientAPI(config.publicURL.toString(), config.apiURL.toString())
    const initialState = {config, profile, campaign}
    ReactDOM.hydrate(React.createElement(Main, {api, initialState}, React.createElement({{component}}, {...{{{json props}}} })),
    document.getElementById('react-content'))
</script>
{{/inline}}

{{/layouts/essential}}