{{#>layouts/essential title=title}}

{{#*inline "body"}}
<div id='react-content'>{{{content}}}</div>
<script>
    const api = new ClientAPI('{{config.publicURL}}', '{{config.apiURL}}')
    const initialState = {{{json initialState}}}
    ReactDOM.hydrate(React.createElement(Main, {api, initialState}, React.createElement({{component}}, {...{{{json props}}} })),
    document.getElementById('react-content'))
</script>
{{/inline}}

{{/layouts/essential}}