{{>layouts/page title=page.title}}

{{#*inline "page_header"}}
<h1>
    {{page.title}}
{{#if page.editable}}
    <a href='/wiki/p/{{page.slug}}/edit'><button class='btn btn-link'><i class='fa fa-pencil'></i></button></a>
{{/if}}
</h1>
{{/inline}}

{{#*inline "content"}}
<div><i class='fa fa-tags'></i> {{#if page.labels}}{{page.labels}}{{else}}<span class='text-muted'>no tags</span>{{/if}}</div>
<div id='content'></div>
<script>
    ReactDOM.render(React.createElement(RawDraft, {rpc: api, raw: {{{page.rawbody}}} }), document.getElementById('content'))
</script>
{{/inline}}
