{{>layouts/page title=page.title}}

{{#*inline "page_header"}}
<h1>
    {{page.title}}
{{#if page.editable}}
    <a href='/w/{{page.slug}}/edit'><button class='btn btn-link'><i class='fa fa-pencil'></i></button></a>
{{/if}}
</h1>
{{/inline}}

{{#*inline "content"}}
<div><i class='fa fa-tags'></i> {{#if page.labels}}{{page.labels}}{{else}}<span class='text-muted'>no tags</span>{{/if}}</div>
<div>{{{page.body}}}</div>
{{/inline}}
